<div class="row">


	<table class="table table-maverix table-maverix-large">
	<tr><td> <span class="entypo-newspaper"></span> <span>  &nbsp; </span>Solution  </td> <td>&nbsp;:&nbsp; </td> 	<td>{{solution}}	</td></tr>
	<tr><td> <span class="entypo-archive">	</span> <span>  &nbsp; </span>Release 	</td> <td>&nbsp;:&nbsp; </td>	<td>{{release}}		</td></tr>
	<tr><td> <span class="entypo-box">		</span> <span>  &nbsp; </span>Product 	</td> <td>&nbsp;:&nbsp; </td>	<td>{{product}}		</td></tr>
	</table>
	
	<div>
	<div class="toolbar">
    <div style="float: left"><a class="toolbar-button" href=""><span class="entypo-plus"></span></a>
	<a class="toolbar-button" href=""><span class="entypo-minus"></span></a></div>
	<div style="float: right">
	<span class="search-input">
	<span class="entypo-search"></span>
	<input type="text" class="mvx-search" placeholder=""/></span>
	</div>
    </div>
	
	<table class="table table-maverix table-maverix-large" >
	<tr><th align ="left"> </span> <span>  &nbsp; </span> HCS Use Cases </th>  	<th align ="left">Select</th></tr>
	<tbody ng:repeat="ts in test_sets">	
	<tr><td align ="left"> <span class="entypo-doc-text">  	</span> <span>  &nbsp; </span>{{ts.name}}</td><td align ="left"><a class="btn btn-help" href=""><span class="entypo-ccw" class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-click="assignTS(ts.name)"></span></a>	</td></tr>
	</tbody> 
	</table>
	
	Host Response :  <input type="text" ng-model="hresp.response" readonly size="50px">	 	 <br> <br><br> <br>
	
	</div>


    </div>
</div>

<!-- Modal -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><span class="entypo-users"></span> Execute Script</h4>
                <span class="modal-subtitle">Trigger Script Execution"</span>
            </div>
            <div class="modal-body">
        <form role="form">
		

			
			<div class="form-group">
                <label for="testset">HSC Use Cases</label>
                <input type="text" class="form-control" id="testset" placeholder="{{activeTS}}">
            </div>
			
			<div class="form-group">
                <label for="testset">ALM Test Repo</label>
                <input type="text" class="form-control" id="testset" placeholder="/ALM/Test/">
            </div>

			<div class="form-group">
                <label for="testset">Trigger</label>
            </div>
			<div class="table-cell" style="height: 120px">
            <table class="table table-maverix table-maverix-large">
			<tbody ng:repeat="vm in vms">		
				<tr>					
                    <td>{{vm.hostname}}</td> 					
					<td><input type="checkbox"></td>
                </tr>
			</tbody>
            </table>
			</div>
			<div class="form-group"><label for="testset">Scale Configuration</label></div>
			<div class="table-cell" style="height: 120px">
			<table class="table table-maverix table-maverix-small">
			<tr><td>Small</td>&nbsp;&nbsp;<td></td><td><input type="checkbox"></td></tr>
			<tr><td>Medium</td>&nbsp;&nbsp;<td></td><td><input type="checkbox"></td></tr>
			<tr><td>Large</td>&nbsp;&nbsp;<td></td><td><input type="checkbox"></td></tr>
			</table>
			</div>
        

			   <div class="modal-footer">
                <button type="button" class="btn btn-on-grey" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-on-grey" data-dismiss="modal" ng-click="triggerScriptNew()" >OK</button>
            </div>
        </form>

        </div>
    </div>
</div>


