<!DOCTYPE html>
<html>

<head>
<title>Report</title>
<script src="angular.min.js"></script>


<script type="text/javascript">
var app = angular.module('postserviceApp', []);
app.controller('postserviceCtrl', function ($scope, $http)
{

	$scope.columnHeader 	=  null;
    $scope.outputData 		=  null;
	$scope.postdata 			= 	function (tableName) 
	{
	
		alert(tableName);
		var inputData  				= 	{'tableName': tableName};
		$http.post("http://localhost:8080/report", inputData).then
		(
			function (data, status, headers, config) 
			{ 
				    $scope.outputData 	    =  data.data.records;
					$scope.columnHeader 	=  data.data.records[0].columns;
			},
			function (data, status, headers, config)
			{ 
				alert("Error"); 
			}
		);
	};
});
</script>

</head>

<body>
<h2>Report Page</h2>



<div ng-app="postserviceApp" ng-controller="postserviceCtrl">
<div><input type="text" id="tableName"  ng-model="tableName" /> </div>
<div><input type="button" value="Generate" ng-click="postdata(tableName)" /> </div>
<table>
<!-- Table Header -->
<tr><th ng-repeat="column in columnHeader">{{column.fieldName}}</th></tr>
<!-- Table Rows -->

<tbody ng-repeat="record in outputData">
<tr ng-repeat="columns in record">
<td ng-repeat="column in columns">{{column.columnValue}}</td>
 </tr>
</tbody>
</table>



</body>
</html>